body {
    background-color: rgb(255,244,201);
}

.panel {
    display: none;
}

#footer {
    margin-top: 2%;
    text-align: center;
    color: rgb(56, 118, 29);
}

header {
    text-align: center;
    width: 100%;
    color: rgb(56, 118, 29);
}

section {
    margin-left: 5%;
    margin-right: 5%;
}

#tituloInicio {
    color: rgb(56, 118, 29);
    font-weight: 1000;
    font-size: 100px;
    border-top: 2px solid rgb(56, 118, 29);
    border-bottom: 2px solid rgb(56, 118, 29);
}

#fotoInicio {
    width:100%
}

.card.servicio {
    margin: 2%;
    border: 3px solid rgb(56, 118, 29);
    background-color: rgb(150, 113, 78);
    color: white;
}

.card.servicio h2 {
    text-align: center;
    margin-top: 3%;
}

.card.servicio img {
    width: auto;
    border-top: 3px solid rgb(56, 118, 29);
    border-bottom: 3px solid rgb(56, 118, 29);
}

.card.servicio p {
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
}

.card.servicio ul {
    margin-top: 5%;
    
}

.card.servicio iframe {
    border-top: 3px solid rgb(56, 118, 29);
}

#tablaTiempo {
    text-align: center;
    font-weight: 600;
}

#tablaTiempo td {
    vertical-align: middle;
}

.is-invalid {
    background-color: rgb(255, 212, 215) !important;
	border: 3px solid red !important;
}

.invalid-feedback {
    color: rgba(220, 53, 70, 0.741) !important;
}