.panel {
    display: none;
}

#footer {
    text-align: center;
}

header {
    text-align: center;
    width: 100%;
}

section {
    margin-left: 5%;
    margin-right: 5%;
}

#fotoInicio {
    width:100%
}

.card.servicio {
    margin: 5%;
}

.card.servicio img {
    height: 50%;
    width: auto;
}

#tablaTiempo {
    text-align: center;
    font-weight: 600;
}

#tablaTiempo td {
    vertical-align: middle;
}

.is-invalid {
    background-color: rgb(255, 212, 215) !important;
	border: 3px solid red !important;
}

.invalid-feedback {
    color: #dc3546bd !important;
}